<h1>Page <%= @mark.page %></h1>

<p><%= @mark.note %></p>

<p>
	<%= image_tag @mark.image.url(:large) %>
</p>

<p>
	<%= link_to "Edit mark", edit_mark_path(@mark) %> 
	|
	<%= link_to "Back to book", current_book %>
</p>