<h1>
  Welcome <%= @user.name %>
</h1>

<p>
	This is the user <%= @user.name %>. <br>
	He has <%= @user.books.count %> books. <br>
	
	Here they are 
</p>

<p>
	This is params: <%= @param %>
	
	<% @user.books.each do |b| %>
		<br><%= b.name %> <br>
	<% end %>
</p>


<%= render 'books/addbook' %>