<p>
	<h2>
		Add more books
	</h2>
	
	<%= form_for@book do |f| %>
	  <div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	  </div>

	  <div class="field">
	    <%= f.label :author %><br />
	    <%= f.text_field :author %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Add book" %>
	  </div>

	<% end %>
</p>
