<h1><u>
	<%= @book.name %>
</u></h1>

<p>
	This book has <%= pluralize(@book.marks.count, "bookmark") %>.
</p>

<p>
	<% @book.marks.each do |m| %>
		<br><i><%= link_to m.page, m %></i>  - <%= m.note %><br>
	<% end %>
</p>

<% if userIsBookOwner?(current_user) %>

	<br>
	<%= render 'marks/addmark' %>
	<p><%= link_to "Back to my Profile", current_user %></p>

<% end %>
