<h1><u>
	<%= @book.name %>
</u></h1>

<p>
	This book has <%= pluralize(@book.marks.count, "bookmark") %>.
</p>


<p>
	<% @book.marks.each do |m| %>
		<br><i><%= link_to m.page, m %></i>  - <%= m.note %><br>
	<% end %>
</p>

<% if userIsBookOwner?(current_user) %>

	</section>
	<section class="round">
	<%= render 'marks/addmark' %>
	<p>
		<%= link_to "Edit book", edit_book_path(@book) %> 
		| 
		<%= link_to "Back to my Profile", root_path %>
	</p>

<% end %>

</section>
<section class="round">

<%= render 'books/bookReviews' %>
